:root{
    --zoom:100%;
    --table-width:-4vw;
    --table-height:-11.8vw;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;

    height: 100vh;
    width: 100%;
    background-color: rgb(33, 33, 33);
    margin: 0;
    
}
#Sfocatura{
    display: flex;
}
#Google_button{
    display: none;
}

#Home{
    display: flex;
    align-items: center;
    justify-content: center;

    width:100%;
    height: 100%;
}

/*Telefono*/
@media only screen and (max-width:500px){
    #Sfocatura{
        z-index:2;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.4);
    }
    #Google_button{
        display: flex;
        z-index: 2;
        white-space: nowrap;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        border-radius: 15vw;
        background-color: rgb(33, 33, 33);
        border: 2px solid rgb(255, 255, 255);
        color: white;
        text-decoration: none;
        transform: translateY(-15vw);
    }
    #Google_button p{
        width: auto;
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 5.8vw;
        margin-left: 8%;
    }
    #Icon{
        width: 22%;
        background-color: transparent;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    /*Codice*/
    #codice{
        width: 50%;
        height: 14%;
        border: 1px solid black;
        background-color: transparent;
        cursor: pointer;
        transform: 
            translateX(-1px)    
            rotate(-90deg);
        font-size: 1.4vw;
        letter-spacing: 2px;
        text-align: center;
        color: black;
        caret-color: auto;
    }
    #codice:focus{
        border: 1px solid black;
        outline: none;
    }

    /*TABLE PICTURE*/
    #table_ground{
        scale: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;

        border: none;
        padding: none;
        margin-right: 25vw;
        margin-top: 50vw;

    
        
        background-image: url("/user/userContent/ground2.png");
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    
    
        width: 150%;
        height: 66vw;
    
        
    
        z-index: 1;
    
        transform: 
            perspective(1200px)
            rotateX(75deg)
            rotateY(0deg)   
            rotateZ(40deg);
    
        transform-style:preserve-3d;
    
        
    
        /*
        background-color: rgba(255, 0, 0, 0.5);
        border: 2px solid white;
        /**/
    }
    #table_back{
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;

        border: none;
        padding: none;
        margin: 0px;
        
        background-image: url("/user/userContent/back2.png");
        background-color: transparent;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: bottom center;
    
        width: 100%;
        height:720px;
    
        right:100px;
    
    
        transform:
            translateX(100px)
            translateY(-33vw)
            translateZ(361px)
            rotateX(-90deg);
        
        transform-style: preserve-3d;
    
        /*
        background-color: rgba(255,255,255,0.5);
        border: 2px solid white;
        /**/
    }
    #banco{
        position:fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        border: none;
        padding: none;
        margin: 0px;
        
        width: 100%;
        height:100%;
    
        top: 0;
        right: 0;
    
        background-position: center;
        background-image: url("/user/userContent/texture2.2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position:top center;
    
    
        transform-style:preserve-3d;
        transform: 
            translateZ(8vw);
    
        /*
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid rgb(255, 0, 0);
        /**/
    }
    #banco::after{
        position:fixed;
        content: "";
        background-color: #312413;
        height: 23.3vw;
        width: 1vw;
        
        transform: 
            translateY(-12vw)
            translateX(26.4vw)
            translateZ(-0.4vw)
            rotateY(90deg);
        /*background-color: #ffffff;*/
    }
    #banco::before{
        position:fixed;
        content: "";
        background-color: #271c03;

        height: 1vw;
        width: 52.6vw;
        
        transform: 
            translateX(0.1vw)
            translateY(-0.4vw)
            translateZ(-0.45vw)
            rotateX(90deg);
        /*background-color: #ffffff;*/
    }
    #foglio{
        display: flex;
        justify-content: center;
        align-items: center;
    
        position:relative;
        border: none;
        padding: none;
        margin: 0px;
        
        height:14%;
        width: 13vw;
    
        z-index: 1;
    
        background-image: url("/user/userContent/firma.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;
    
        transform: translateY(-13vw);
    }


}
/*Tablet*/
@media only screen and (min-width:500px){
    #Sfocatura{
        z-index:2;
        position: absolute;
        width: 100vw;
        height: 150vh;
        background-color: rgba(255, 255, 255, 0.4);
    }
    #Google_button{
        display: flex;
        z-index: 2;
        white-space: nowrap;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        border-radius: 15vw;
        background-color: rgb(33, 33, 33);
        border: 2px solid rgb(255, 255, 255);
        color: white;
        text-decoration: none;
    }
    #Google_button p{
        background-color: transparent;
        width: auto;
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 2.8vw;
        padding-left: 0vw;
        padding-right: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    #Icon{
        height: 8vw;
        width: auto;
        background-color: transparent;
        padding-left: 1.5vw;
        padding-right: 1vw;
    }

    /*Codice*/
    #codice{
        width: 55%;
        height: 20%;
        border: 1px solid black;
        background-color: transparent;
        cursor: text;
        transform: 
            translateX(-1px)    
            rotate(-90deg);
        font-size: 1.4vw;
        letter-spacing: 4px;
        text-align: center;
        color: black;
        caret-color: auto;
    }
    #codice:focus{
        border: 1px solid black;
        outline: none;
    }

     /*TABLE PICTURE*/
     #table_ground{
        scale: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;

        border: none;
        padding: none;
        margin-right: 25vw;
        margin-top: 50vw;

    
        
        background-image: url("/user/userContent/ground2.png");
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    
    
        width: 150%;
        height: 66vw;
    
        
    
        z-index: 1;
    
        transform: 
            perspective(1200px)
            rotateX(75deg)
            rotateY(0deg)   
            rotateZ(40deg);
    
        transform-style:preserve-3d;
    
        
    
        /*
        background-color: rgba(255, 0, 0, 0.5);
        border: 2px solid white;
        /**/
    }
    #table_back{
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;

        border: none;
        padding: none;
        margin: 0px;
        
        background-image: url("/user/userContent/back2.png");
        background-color: transparent;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: bottom center;
    
        width: 100%;
        height:112.5vw;
    
        right:100px;
    
    
        transform:
            translateX(100px)
            translateY(-33vw)
            translateZ(56.3vw)
            rotateX(-90deg);
        
        transform-style: preserve-3d;
    
        /*
        background-color: rgba(255,255,255,0.5);
        border: 2px solid white;
        /**/
    }
    #banco{
        position:fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        border: none;
        padding: none;
        margin: 0px;
        
        width: 100%;
        height:100%;
    
        top: 0;
        right: 0;
    
        background-position: center;
        background-image: url("/user/userContent/texture2.2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position:top center;
    
    
        transform-style:preserve-3d;
        transform: 
            translateZ(8vw);
    
        /*
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid rgb(255, 0, 0);
        /**/
    }
    #banco::after{
        position:fixed;
        content: "";
        background-color: #312413;
        height: 23.1vw;
        width: 1vw;
        
        transform: 
            translateY(-12vw)
            translateX(26.4vw)
            translateZ(-0.45vw)
            rotateY(90deg);
        /*background-color: #ffffff;*/
    }
    #banco::before{
        position:fixed;
        content: "";
        background-color: #271c03;

        height: 1vw;
        width: 52.4vw;
        
        transform: 
            translateX(0.25vw)
            translateY(-0.4vw)
            translateZ(-0.45vw)
            rotateX(90deg);
        /*background-color: #ffffff;*/
    }
    #foglio{
        display: flex;
        justify-content: center;
        align-items: center;
    
        position:relative;
        border: none;
        padding: none;
        margin: 0px;
        
        height:14%;
        width: 13vw;
    
        z-index: 1;
    
        background-image: url("/user/userContent/firma.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;
    
        transform: translateY(-12.5vw);

    }
}
/*PC*/
@media only screen and (min-width:1000px){
    #Google_button p{
        background-color: transparent;
        width: auto;
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 2.5vw;
        margin-left: 8%;
        margin-right: 4%;
    }
    #Icon{
        width: 28%;
        background-color: transparent;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 3%;
    }

    #banco::after{
        position:fixed;
        content: "";
        background-color: #312413;
        height: 23vw;
        width: 1vw;
        
        transform: 
            translateY(-12.1vw)
            translateX(26.1vw)
            translateZ(-0.45vw)
            rotateY(90deg);
        /*background-color: #ffffff;*/
    }
    #banco::before{
        position:fixed;
        content: "";
        background-color: #271c03;

        height: 1vw;
        width: 52.0vw;
        
        transform: 
            translateX(0.1vw)
            translateY(-0.7vw)
            translateZ(-0.45vw)
            rotateX(90deg);
        /*background-color: #ffffff;*/
    }
    #Google_button p{
        background-color: transparent;
        width: auto;
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 2.8vw;
        padding-left: 0vw;
        padding-right: 2.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    #Icon{
        height: 8vw;
        width: auto;
        background-color: transparent;
        padding-left: 3vw;
        padding-right: 0vw;
    }
}











/*KeyFrame*/

@keyframes anim_ground_in{
    0%      {

            }
    100%    {   
                transform: 
                    translateY(var(--table-width))
                    translateX(var(--table-height))
                    perspective(1200px)
                    rotateX(0deg)
                    rotateY(0deg)   
                    rotateZ(90deg);
                
                    scale: var(--zoom);
            }
}
@keyframes anim_ground_out{
    0%    {   
                transform: 
                    perspective(900px)
                    rotateX(0deg) 
                    rotateY(0deg) 
                    rotateZ(0deg) 
                    rotate(90deg) 
                    translateY(calc(-0.21 * var(--table-width) + 310px))
                    translateX(-100px); 

                scale: 200%;
            }
    100%    {
                transform: 
                    perspective(1200px)
                    rotateX(75deg)
                    rotateY(0deg)   
                    rotateZ(40deg)
                    translateY(0px);
                    }
    
}

@keyframes anim_wall_in{
    0%      {
                transform:
                    translateX(100px)
                    translateY(-360px)
                    translateZ(361px)
                    rotateX(-90deg);
            }

    100%    {   
                transform:
                    translateX(100px)
                    translateY(-420px)
                    translateZ(361px)
                    rotateX(-80deg);

            }
}
@keyframes anim_wall_out{
    0%      {   
                transform:
                    translateX(100px)
                    translateY(-420px)
                    translateZ(361px)
                    rotateX(-80deg);

            }
    100%    {
                transform:
                    translateX(100px)
                    translateY(-360px)
                    translateZ(361px)
                    rotateX(-90deg);
            }
    
}
/*KeyFrame*/

.wallin{
    animation-fill-mode: both;
    animation-direction:normal; 
    animation-name: anim_wall_in;
	animation-duration: 3s;
	animation-iteration-count:1;
}
.wallout{
    animation-name: anim_wall_out;
    animation-duration: 3s;
    animation-iteration-count:1;
}

.groundin{
    animation-fill-mode: both;
    animation-name: anim_ground_in;
	animation-duration: 3s;
	animation-iteration-count:1;
}
.groundout{
    animation-name: anim_ground_out;
	animation-duration: 3s;
	animation-iteration-count:1;
}
#IDRoom{
    display: flex;
    rotate: -90deg;
    width: 80%;
}