body{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-color: rgb(33, 33, 33);
}
*{
    padding: 0px;
    margin: 0px;
}

.google-signin-button {
    display: inline-block;
    background: white;
    color: #757575;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .google-signin-button img {
    margin-right: 10px;
  }